name: Sync

on:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  sync-to-jihulab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: upstream
      - uses: adambirds/sync-github-to-gitlab-action@v1.1.0
        with:
          destination_repository: git@gitee.com:naibahq/nezha.git
          destination_branch_name: master
          destination_ssh_key: ${{ secrets.GITEE_SSH_KEY }}
